body{font: 14px/1.3em sans-serif;}
.mapy{
	position:fixed;top:10px;left: 10px;right: 10px;bottom: 10px;
	background-color: #EEE;border: solid 1px #BBB;overflow: hidden
}
.slide{opacity: .4}

/* EDITOR ***********************************************/


.mapy-editor{
	position: absolute;top: 5px;right: 5px;z-index: 10000;
	font: 10px/1.3em sans-serif;text-align: center;width:70px;padding: 0;margin: 0;
	background-color: #FFF;
	color:#666;
	border: solid 1px #AAA;
	border-radius:4px;
}



.mapy-editor-btn{
	font-size: 11px;
	line-height: 24px;
	font-weight: bold;	
	cursor: pointer;
	color:#AAA;
	padding: 0;margin: 0;
}
.mapy-editor-btn:hover{
	color:#666;
}



.mapy-editor-tools{
	xdisplay:none;
	padding: 0;margin: 0;
	

}
.mapy-editor-tools-btn{
	display: block;
	border-top:solid 1px #CCC;
	padding:40px 0 5px;
	cursor: pointer;
}
.mapy-editor-tools-btn:hover{
	background-color:#aef;
	color:#000;
}
.mapy-editor-tools-btn.active{
	background-color:#def;
}

.mapy-editor-tools-separator{
	background-color:#CCC;padding:0;margin: 0;height: 5px;
}

.mapy-editor-tools-btn.to-pan{}
.mapy-editor-tools-btn.to-rotate{}
.mapy-editor-tools-btn.to-setup{}


.mapy-editor-grid{position:absolute;top: -1500px;left: -1500px;width: 3000px;height: 3000px;background: url('mapy-grid.png');
border-bottom:solid 1px #808080;border-right:solid 1px #808080; }

.mapy-editor-grid-x{position:absolute;top: 1499px;left: 0;width: 3000px;height: 2px;background-color:#F00;}
.mapy-editor-grid-y{position:absolute;left: 1499px;top: 0;height: 3000px;width: 2px;background-color:#0B0;}


.mapy-editor-cursor{position:absolute;top: 0;left: 0;z-index: 11000}
.mapy-editor-cursor:not(.edit):hover div{opacity:.4;}

.mapy-editor-cursor-circ-x,
.mapy-editor-cursor-circ-y,
.mapy-editor-cursor-circ-z{
	position:absolute;top: -114px;left: -114px;
	width: 200px;height:200px;border-style: solid;border-width: 14px;
	border-radius: 150px;
}
.mapy-editor-cursor-circ-x{border-color: #F00;}
.mapy-editor-cursor-circ-y{border-color: #0B0;}
.mapy-editor-cursor-circ-z{border-color: #00F;}

.mapy-editor-cursor-line-x,
.mapy-editor-cursor-line-y,
.mapy-editor-cursor-line-z{
	position:absolute;top: -7px;left: -200px;width:400px;height:14px;border-radius: 10px;
}
.mapy-editor-cursor-line-x span,
.mapy-editor-cursor-line-y span,
.mapy-editor-cursor-line-z span{
	position:absolute;top: -17px;left: 10px;
}
.mapy-editor-cursor-line-x{background-color: #F00}
.mapy-editor-cursor-line-y{background-color: #0B0}
.mapy-editor-cursor-line-z{background-color: #00F}



.mapy-editor-cursor-scale{position: absolute;top:-30px;left: -30px;width: 60px;height: 60px;
	background-color: #D90;border-radius:40px; opacity: .7;border:solid 2px #960;
}

.mapy-editor-cursor-reset{position: absolute;top: 110px;left: 110px;padding:0 5px;background-color: #FFF;font-size: 12px;line-height: 20px;
border: solid 2px #BBB;border-radius: 10px;cursor:pointer;}


.mapy-editor-cursor:not(.edit):hover div.mapy-editor-cursor-circ-x:hover,
.mapy-editor-cursor:not(.edit):hover div.mapy-editor-cursor-circ-y:hover,
.mapy-editor-cursor:not(.edit):hover div.mapy-editor-cursor-circ-z:hover{opacity:1;border-color: #DD0;}
.mapy-editor-cursor:not(.edit):hover div.mapy-editor-cursor-line-x:hover,
.mapy-editor-cursor:not(.edit):hover div.mapy-editor-cursor-line-y:hover,
.mapy-editor-cursor:not(.edit):hover div.mapy-editor-cursor-line-z:hover,
.mapy-editor-cursor:not(.edit):hover div.mapy-editor-cursor-scale:hover,
.mapy-editor-cursor:not(.edit):hover div.mapy-editor-cursor-reset:hover{opacity:1;background-color: #DD0}




.mapy-editor-cursor-line-x.active,
.mapy-editor-cursor-line-y.active,
.mapy-editor-cursor-line-z.active{background-color: #DD0}

.mapy-editor-cursor-circ-x.active,
.mapy-editor-cursor-circ-y.active,
.mapy-editor-cursor-circ-z.active{border-color: #DD0;}




.mapy-on-edition .active-edition{box-shadow: 0 0 5px 10px rgba(0,20,200,1), inset 0 0 2px 4px rgba(255,255,255,.5);}

.mapy-editor-cursor-indicator{
	position: absolute;padding:5px 10px;font-size:11px;line-height: 12px;margin:-40px 0 0 -10px;background-color: #FFF;
	border:#BBB solid 1px; border-radius:4px;text-align: center; box-shadow:0 1px 3px rgba(0,0,0,.2);
}

